<div class="card">
  <div class="card-body">
    <h5 class="card-title">Details</h5>
    <label class="d-block">Name: {{cardItem.name ? cardItem.name : 'NA'}}</label>
    <label class="d-block">Gender: {{cardItem.gender ? cardItem.gender : 'NA'}}</label>
    <label class="d-block">Race: {{cardItem.race ? cardItem.race : 'NA'}}</label>
    <label class="d-block">Realm: {{cardItem.realm ? cardItem.realm : 'NA'}}</label>
    <label class="d-block">Spouse: {{cardItem.spouse ? cardItem.spouse : 'NA'}}</label>
    <label class="d-block">Hair: {{cardItem.hair ? cardItem.hair : 'NA'}}</label>
    <label class="d-block">Birth: {{cardItem.birth ? cardItem.birth : 'NA'}}</label>
    <label class="d-block">Death: {{cardItem.death ? cardItem.death : 'NA'}}</label>
  </div>
</div>
